<p><a href="/users">My Profile</a> | <a href="/logout">Logout</a></p>
<h3>My Profile</h3>
<form action="/signup" method="post">
  <input type="text" name="first_name" placeholder="First Name"><br>
  <input type="text" name="last_name" placeholder="Last Name"><br>
  <input type="email" name="email" placeholder="Email"><br>
  <input type="password" name="password" placeholder="Password"><br>

  <button type="submit">Sign up</button>
</form>
