<p><a href="/companies">Home</a> | <a href="/users">My Profile</a> | <a href="/logout">Logout</a></p>
<h3>My Profile</h3>
<form action="/users" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <input type="text" name="user[first_name]" placeholder="First Name" value="<%=@current_user.first_name%>"><br>
  <input type="text" name="user[last_name]" placeholder="Last Name" value="<%=@current_user.last_name%>"><br>
  <input type="email" name="user[email]" placeholder="Email" value="<%=@current_user.email%>"><br>
  <input type="password" name="user[password]" placeholder="Password"><br>

  <button type="submit">Update</button>
</form>
