<h3>Log in</h3>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<form action="/login" method="post">
  <input type="email" name="email" placeholder="Email"><br>
  <input type="password" name="password" placeholder="Password"><br>

  <button type="submit">Log in</button>
</form>
