<p><a href="/companies">Home</a> | <a href="/users">My Profile</a> | <a href="/logout">Logout</a></p>
<h3>My Profile <a href="/users/edit"><em>edit</em></a></h3>
<p>First Name: <%=@current_user.first_name%></p>
<p>Last Name: <%=@current_user.last_name%></p>
<p>Email: <%=@current_user.email%></p>
