<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h3>Sign up - Create Account</h3>
<form action="/signup" method="post">
  <input type="text" name="first_name" placeholder="First Name"><br>
  <input type="text" name="last_name" placeholder="Last Name"><br>
  <input type="email" name="email" placeholder="Email"><br>
  <input type="password" name="password" placeholder="Password"><br>

  <button type="submit">Sign up</button>
</form>

<p>Go to <a href="/login">Log in</a></p>
