<h3>Add New Country</h3>

<form action="/countries" method="post">
  <label for="country_name">Country Name: </label>
  <input type="text" name="name" id="country_name"><br>

  <label for="country_iso_2">ISO-2: </label>
  <input type="text" name="iso_2" id="country_iso_2"><br>

  <label for="country_iso_3">ISO-3: </label>
  <input type="text" name="iso_3" id="country_iso_3"><br>

  <label for="country_iso_num">ISO Numeric Code: </label>
  <input type="text" name="iso_numeric_3" id="country_iso_num"><br>

  <button type="submit">Save</button>

</form>
